/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 8.0em;
}

.commentairesUsers {
	overflow: scroll;
  max-height: 400px;
}

.commentairesOrders {
	overflow: scroll;
  max-height: 400px;
}

.panel.panel-horizontal {
    display:table;
    width:100%;
}
.panel.panel-horizontal > .panel-heading, .panel.panel-horizontal > .panel-body, .panel.panel-horizontal > .panel-footer {
    display:table-cell;
}
.panel.panel-horizontal > .panel-heading, .panel.panel-horizontal > .panel-footer {
    width: 25%;
    border:0;
    vertical-align: middle;
}
.panel.panel-horizontal > .panel-heading {
    border-right: 1px solid #ddd;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
}
.panel.panel-horizontal > .panel-footer {
    border-left: 1px solid #ddd;
    border-top-left-radius: 0;
    border-bottom-right-radius: 4px;
}

.table td {
   text-align: center;
}

.table th {
   text-align: center;
}

span.glyphicon_status {
    font-size: 2.5em;
}

/** gallery Order */

.sourceli{
     position:relative;float:left;
     width:90px;height:140px;padding:10px;list-style:none;
}
/*permet de créer deux lignes*/
.sourceli:nth-child(3n+1){clear:left;}

.sourceli a{
     display:block;overflow:hidden;
     width:90px;height:130px;
     margin-top:0px;margin-left:0px;
     border:0px solid rgba(0,0,0,0.7);
     transition-property:width,height,margin,z-index,border;
     transition-duration:0.4s;
}

.sourceli a:hover{
     position:absolute;
     width:160px;height:260px;
     margin-top:-56px;margin-left:-56px;
     z-index:100;
     /*border:6px solid rgba(0,0,0,0.7);*/

}

.sourceli a img{
     position:absolute;
     width:80px;height:130px;z-index:20;
     transition-property:width,height,z-index;
     transition-duration:0.4s;
}

.sourceli a h2{
  position: absolute;
  top: -15px;
  left: 10px;
  width: 20px;
  height: 20px;

}

.sourceli a:hover img{
     width:160px;height:260px;
     z-index:100;
}

.sourceli a:hover h2{
     z-index:100;
}

.sourceli a:hover h2 span{
     font: bold 17px/45px Helvetica, Sans-Serif;
}

.sourceli h2 span {
   color: white;
   font: bold 12px/45px Helvetica, Sans-Serif;
   letter-spacing: -1px;
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px;
   border-radius: 6px;
   z-index:20;
   transition-property:width,height,z-index;
   transition-duration:0.4s;
}

/***** FOOTER ****/
footer {
    background-color: #f8f8f8;
    position: relative;
    height: 30px;
    bottom: 0;
    width: 100%;
}
