<div ng-controller="UsersCtrl">
	<div class='col-sm-8 col-xs-12 information'>
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="row">
					<div class='col-xs-1'></div>
					<div class='col-xs-10'>
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Username/Tel" ng-model="searchData">
							<span class="input-group-btn">
								<button class="btn btn-default searchUser" ng-click="searchUser()" type="button">Rechercher</button>
							</span>
						</div><!-- /input-group -->
					</div>
				</div><br/>
				<div class="row">
					<table class="table col-xs-12">
						<thead>
							<tr>
								<th>Username</th>
								<th>telephone</th>
								<th>Email</th>
								<th>Crédits</th>
								<th>Ajouter</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="col-md-3">John</td>
								<td class="col-md-3">0668794857</td>
								<td class="col-md-3">john@example.com</td>
								<td class="col-md-1">5€</td>
								<td class="col-md-2"><button class="btn btn-info button-round" data-toggle="modal" data-target=".bs-example-modal-sm">Ajouter</button></td>
							</tr>
						</tbody>
					</table>
				</div>
				<th>
				<div class="row">
					<table class="table col-xs-12">
						<thead>
							<tr>
								<th>Date</th>
								<th>Type</th>
								<th>Nbre de pops</th>
								<th>Prix</th>
								<th>Statut</th>
								<th>Nbre de coms</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="col-md-2">John</td>
								<td class="col-md-3">0668794857</td>
								<td class="col-md-2">6/6</td>
								<td class="col-md-2">5€</td>
								<td class="col-md-3"><p class="success">Validé</p></td>
								<td class="col-md-1">15</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<div class='col-sm-4 col-xs-12 remarques'>
		<div class="row">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="row">
						<div class="col-xs-3"></div>
						<div class="col-xs-6">
							<H1>Zendesk</H1>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="row">
						<div class="col-xs-3"></div>
						<div class="col-xs-6">
							<H1>Remarques</H1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
		<div class="modal-dialog modal-sm" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Ajouter du crédit</h4>
				</div>
				<div class="modal-body">
					<div class="row-fluid"> 
						<div class="input-group">
							<span class="input-group-addon" id="basic-addon1">montant</span>
							<input type="text" class="form-control" placeholder="€" aria-describedby="basic-addon1">
						</div>
					</div><br/><br/>
					<div class="row-fluid">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="livraison incluse" disabled="true">
							<span class="input-group-addon">
								<input type="checkbox" aria-label="...">
							</span>
						</div><!-- /input-group -->
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-info" data-dismiss="modal">Ajouter</button>
				</div>
			</div>
		</div>
	</div>
</div>
